<nav class="navbar">
  <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
  <a routerLink="/factures-loyer" routerLinkActive="active">Factures Loyer</a>
  <a routerLink="/factures-eau" routerLinkActive="active">Factures Eau</a>
  <a routerLink="/factures-electricite" routerLinkActive="active"
    >Factures Électricité</a
  >
  <a routerLink="/factures-mutuelles" routerLinkActive="active"
    >Factures Mutuelles</a
  >
  <a routerLink="/factures-taxes" routerLinkActive="active">Factures Taxes</a>
  <a routerLink="/factures-assurance-incendie" routerLinkActive="active"
    >Assurance Incendie</a
  >
  <a routerLink="/factures-credits" routerLinkActive="active"
    >Factures Crédits</a
  >
  <a
    style="background-color: rgb(10, 229, 236); color: red; font-size: 25px"
    href="https://www.wallonie.be/fr"
    target="_blank"
    rel="noopener noreferrer"
    >Test</a
  >
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
