<div class="modal" [ngClass]="{ 'show-modal': showModal }">
  <div class="modal-content">
    <h2 style="text-decoration: underline">login</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="username"></label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        placeholder="username"
        required
        class="center-placeholder"
        style="font-size: 18px"
      />
      <label for="password"></label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        placeholder="password"
        required
        class="center-placeholder"
        style="font-size: 18px"
      />
      <button type="submit">Se connecter</button>
    </form>
  </div>
</div>
<nav class="navbar">
  <a style="font-size: 20px" href="http://localhost:4200/accueil">Accueil</a>
  <a style="font-size: 20px" href="http://localhost:4200/factures-loyer"
    >Facture loyer</a
  >
  <a style="font-size: 20px" href="http://localhost:4200/factures-eau"
    >Facture eau</a
  >
  <a style="font-size: 20px" href="http://localhost:4200/factures-electricite"
    >Facture électricitè</a
  >
  <a style="font-size: 20px" href="http://localhost:4200/factures-mutuelles"
    >Facture mutuelle</a
  >
  <a style="font-size: 20px" href="http://localhost:4200/factures-taxes"
    >Facture taxe commune</a
  >
  <a
    style="font-size: 20px"
    href="http://localhost:4200/factures-assurance-incendie"
    >Assurance incendie</a
  >
  <a style="font-size: 20px" href="  http://localhost:4200/factures-credits"
    >Facture crédit</a
  >
  <a
    style="background-color: rgb(10, 229, 236); color: red; font-size: 25px"
    href="https://www.wallonie.be/fr"
    target="_blank"
    rel="noopener noreferrer"
    >Test</a
  >
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
