<nav class="navbar">
  <a style="font-size: 20px" href="http://localhost:4200/accueil">Accueil</a>
  <a style="font-size: 20px" href="http://localhost:4200/factures-loyer"
    >Facture loyer</a
  >
  <a style="font-size: 20px" href="http://localhost:4200/factures-eau"
    >Facture eau</a
  >
  <a style="font-size: 20px" href="http://localhost:4200/factures-electricite"
    >Facture électricitè</a
  >
  <a style="font-size: 20px" href="http://localhost:4200/factures-mutuelles"
    >Facture mutuelle</a
  >
  <a style="font-size: 20px" href="http://localhost:4200/factures-taxes"
    >Facture mutuelle</a
  >
  <a href="http://localhost:4200/factures-assurance-incendie"
    >Facture mutuelle</a
  >
  <a style="font-size: 20px" href="  http://localhost:4200/factures-credits"
    >Facture mutuelle</a
  >
  <a
    style="background-color: rgb(10, 229, 236); color: red; font-size: 25px"
    href="https://www.wallonie.be/fr"
    target="_blank"
    rel="noopener noreferrer"
    >Test</a
  >
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
