<br /><br />
<h1 align="center">💲♻️🌳🌱🍃♻️ 💵</h1>
<h1 align="center" style="text-decoration: underline">
  Facture taxe communale
</h1>
<br /><br /><br /><br />
<div class="image-container">
  <img
    src="https://public.izyfil.com/CustomPublicviews/C11BD9/Content/img/logo_h_bitmap.png"
    alt="Logo-Commune frameries"
  />
</div>
<br /><br /><br /><br /><br /><br />
<div class="select-container">
  <select class="red-select" (change)="redirectToPage($event)">
    <option value="" disabled selected>Faites votre choix</option>
    <option
      value="https://www.frameries.be/ma-commune/administration/population/demarches/autorisation-parentale-1"
    >
      Autorisation parentale
    </option>
    <option
      value="https://www.frameries.be/ma-commune/administration/population/demarches/carte-didentite-belge"
    >
      Carte d’identité belge
    </option>
    <option
      value="https://www.frameries.be/ma-commune/administration/population/demarches/kids-id-carte-didentite-enfant"
    >
      KIDS ID – carte d’identité enfant
    </option>
    <option
      value="https://www.frameries.be/ma-commune/administration/population/demarches/passeport"
    >
      Passeport
    </option>
    <option
      value="https://www.frameries.be/ma-commune/administration/population/demarches/certificat-dinscription-de-residence-ou-historique-de-residence"
    >
      Certificat d’inscription
    </option>
    <option
      value="https://www.frameries.be/ma-commune/administration/population/demarches/changement-dadresse"
    >
      Changement d’adresse
    </option>
    <option
      value="https://www.frameries.be/ma-commune/administration/population/demarches/cohabitation-legale"
    >
      Cohabitation légale
    </option>
    <option
      value="https://www.frameries.be/ma-commune/administration/population/demarches/composition-de-menage"
    >
      Composition de ménage
    </option>
    <option
      value="https://www.frameries.be/ma-commune/administration/population/demarches/copie-conforme"
    >
      Copie conforme
    </option>
  </select>
</div>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<div align="center">
  <a
    href="https://www.frameries.be/authentic-handler/?next_url=https://www.bing.com/"
    target="_blank"
  >
    <button
      style="
        background-color: #ff8533;
        color: white;
        border: 3px solid #007bff;
        inline-size: 285px;
        block-size: 35px;
        border-radius: 5px;
        font-size: 18px;
      "
      class="btn-luminus"
    >
      Accéder à votre portail personnel
    </button>
  </a>
</div>
<h3 align="center" style="color: green">Toutes vos factures sont en ordre !</h3>
