<br /><br />
<h1 align="center">💲💡💵</h1>
<h1 align="center" style="text-decoration: underline">Facture électricitè</h1>
<br />
<div class="luminus-view">
  <iframe
    src="https://www.youtube.com/watch?v=nWL9h2mpXiw"
    width="75%"
    height="500px"
    style="border: none"
  >
  </iframe>
</div>
<br />
<div class="luminus-link">
  <a href="https://secure.luminus.be/fr/zoneclient/" target="_blank">
    <button
      style="background-color: #ff8533; color: white; border: 3px solid #007bff"
      class="btn-luminus"
    >
      Accéder à votre compte Luminus
    </button>
  </a>
</div>
<h3 align="center" style="color: red">
  Pour accéder à votre compte Luminus en temps réel, cliquez &#160;👉
  <a href="https://secure.luminus.be/fr/zoneclient/" target="_blank">ici</a>
</h3>
<div class="solde-container">
  <p class="solde-message">Solde: <span class="solde-amount">0 €</span></p>
</div>

<h3 align="center" style="color: green">Toutes vos factures sont en ordre !</h3>
<div align="center">
  <h3>
    <a
      href="https://secure.luminus.be/fr/contactez-nous/prive/contact/?_gl=1*1nr31jh*_gcl_au*MzU5Mjk1NDk4LjE3MjAwODE4MzQ.*_ga*MTU3NTc4MDk5My4xNzEwNTc1NDIw*_ga_1KJ3SJQ76E*MTcyMzM3MDk4OC4xMS4xLjE3MjMzNzE0NjUuNjAuMC4w*_fplc*OWVQeXhQUnZNcyUyQkNlMzFubGRCMTlyU29NTVclMkY1Mjh6S3VrbEtUdllNSUIlMkJBVVdTNGx1R2JSRlM1UDFnNGVZMlklMkJkcSUyRjZsVDBOcDZGMWZoSU5BelNYZk1rN3BidHZxOW1xM0dCZWhmOTVmY0F5SkQ2NkhLazRVdCUyRkd3MUJnJTNEJTNE"
      target="_blank"
      class="contact-button"
    >
      Contactez-nous
    </a>
  </h3>
</div>
<app-chat-luminus></app-chat-luminus>
