<h1 align="center">💲💡💵</h1>
<h1 align="center" style="text-decoration: underline">Facture électricité</h1>
<div align="center">
  <iframe
    src="https://cochondingue.telequebec.tv/media/eolienne.gif"
    width="850"
    height="600"
    frameborder="0"
    allowfullscreen
  >
  </iframe>
</div>
<br />
<div class="form-container" align="center">
  <form (ngSubmit)="calculateConsumption()">
    <div class="form-group">
      <label style="font-size: 20px" for="month">Mois:</label>
      &#160;&#160;&#160;&#160; &#160;&#160;&#160;&#160;&#160;
      <input
        type="text"
        id="month"
        name="month"
        [(ngModel)]="month"
        placeholder="Mois"
        required
      />
    </div>
    <br />
    <div class="form-group">
      <label style="font-size: 20px" for="kwDay">kWh Jour:</label>
      &#160;
      <input
        type="number"
        id="kwDay"
        name="kwDay"
        [(ngModel)]="kwDay"
        placeholder="Consommation Jour"
        required
      />
    </div>
    <br />
    <div class="form-group">
      <label style="font-size: 20px" for="kwNight">kWh Nuit:</label>
      &#160;
      <input
        type="number"
        id="kwNight"
        name="kwNight"
        [(ngModel)]="kwNight"
        placeholder="Consommation Nuit"
        required
      />
    </div>
    <br />
    <button
      style="border-radius: 5px; border-color: solid 3px#007bff"
      type="submit"
      class="btn-calculate"
    >
      Calculer
    </button>
  </form>
</div>
<br />
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <h2>Résultats de la Facture</h2>
    <p>
      <strong>Coût Jour:</strong> {{ dayCost | currency : "EUR" : "symbol" }}
    </p>
    <p>
      <strong>Coût Nuit:</strong> {{ nightCost | currency : "EUR" : "symbol" }}
    </p>
    <p>
      <strong>Coût Total:</strong> {{ totalCost | currency : "EUR" : "symbol" }}
    </p>
    <button (click)="closeModal()" class="btn-close">Fermer</button>
  </div>
</div>
<div *ngIf="results.length > 0" class="results-container">
  <h2 align="center">Résultats de la Facture</h2>
  <table>
    <thead>
      <tr>
        <th>Mois</th>
        <th>kWh Jour</th>
        <th>kWh Nuit</th>
        <th>Coût Jour</th>
        <th>Coût Nuit</th>
        <th>Coût Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>{{ result.month }}</td>
        <td>{{ result.kwDay }}</td>
        <td>{{ result.kwNight }}</td>
        <td>{{ result.dayCost | currency : "EUR" : "symbol" }}</td>
        <td>{{ result.nightCost | currency : "EUR" : "symbol" }}</td>
        <td>{{ result.totalCost | currency : "EUR" : "symbol" }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="luminus-link">
  <a href="https://secure.luminus.be/fr/zoneclient/" target="_blank">
    <button
      style="background-color: #ff8533; color: white; border: 3px solid #007bff"
      class="btn-luminus"
    >
      Accéder à votre compte Luminus
    </button>
  </a>
</div>
<h3 align="center" style="color: red">
  Pour accéder à votre compte Luminus en temps réel, cliquez &#160;👉
  <a href="https://secure.luminus.be/fr/zoneclient/" target="_blank">ici</a>
</h3>
<div class="solde-container">
  <p class="solde-message">Solde: <span class="solde-amount">0 €</span></p>
</div>
<h3 align="center" style="color: green">Toutes vos factures sont en ordre !</h3>
<div align="center">
  <h3>
    <a
      href="https://secure.luminus.be/fr/contactez-nous/prive/contact/?_gl=1*1nr31jh*_gcl_au*MzU5Mjk1NDk4LjE3MjAwODE4MzQ.*_ga*MTU3NTc4MDk5My4xNzEwNTc1NDIw*_ga_1KJ3SJQ76E*MTcyMzM3MDk4OC4xMS4xLjE3MjMzNzE0NjUuNjAuMC4w*_fplc*OWVQeXhQUnZNcyUyQkNlMzFubGRCMTlyU29NTVclMkY1Mjh6S3VrbEtUdllNSUIlMkJBVVdTNGx1R2JSRlM1UDFnNGVZMlklMkJkcSUyRjZsVDBOcDZGMWZoSU5BelNYZk1rN3BidHZxOW1xM0dCZWhmOTVmY0F5SkQ2NkhLazRVdCUyRkd3MUJnJTNEJTNE"
      target="_blank"
      class="contact-button"
    >
      Contactez-nous
    </a>
    <app-chat-luminus></app-chat-luminus>
  </h3>
</div>
