.accueil-container {
  text-align: center;
  padding: 50px;
  background-color: #f0f8ff;
  border-radius: 10px;
}

.accueil-container img {
  margin-block-end: 20px;
}

.accueil-container h1 {
  color: #002f6c;
  font-size: 2.5rem;
  margin-block-end: 20px;
}

.accueil-container p {
  color: #002f6c;
  font-size: 1.2rem;
}

.footer-tabs {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}

.footer-tab {
  background-color: #007bff;
  color: white;
  border: none;
  border: 3px solid white;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.footer-tab:hover {
  background-color: #0056b3;
  border-color: #cccccc;
}

.footer-tab:focus {
  outline: none;
}



