<div class="accueil-container">
  <div class="logo">
    <h1 class="logo-title">Bienvenue</h1>
    <p class="logo-subtitle">Sur la Région Wallonne</p>
    <h1>☘️</h1>
  </div>

  <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
    <circle
      cx="75"
      cy="75"
      r="70"
      stroke="#007bff"
      stroke-width="5"
      fill="#f0f8ff"
    />
    <text
      x="75"
      y="90"
      font-size="24"
      text-anchor="middle"
      fill="#007bff"
      font-family="Arial, sans-serif"
    >
      RW
    </text>
  </svg>

  <h1>Bienvenue sur l'application de gestion des factures</h1>
  <p style="color: red">
    Utilisez le menu ci-dessus pour accéder aux différentes sections de
    facturation.
  </p>
</div>

<!-- Onglets Interactifs en Bas de Page -->
<div class="footer-tabs">
  <button
    class="footer-tab"
    (click)="navigateTo('https://www.proximus.be')"
    style="background-color: blueviolet; font-size: 16px"
  >
    Proximus
  </button>
  <button
    class="footer-tab"
    (click)="navigateTo('https://www.swde.be')"
    style="font-size: 16px"
  >
    Région Wallonne de l'eau
  </button>
  <button
    class="footer-tab"
    (click)="navigateTo('https://www.baloise.be')"
    style="background-color: rgb(109, 164, 228); font-size: 16px"
  >
    Assurance Baloise
  </button>
  <button
    class="footer-tab"
    (click)="navigateTo('https://www.belfius.be')"
    style="background-color: brown; font-size: 16px"
  >
    Belfius
  </button>
  <button
    class="footer-tab"
    (click)="navigateTo('https://www.frameries.be')"
    style="background-color: green; font-size: 16px"
  >
    Commune de Frameries
  </button>
</div>
