<div class="accueil-container">
  <div class="logo">
    <h1 class="logo-title">Bienvenue</h1>
    <p class="logo-subtitle">Sur la Région Wallonne</p>
    <h1>☘️</h1>
  </div>

  <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
    <circle
      cx="75"
      cy="75"
      r="70"
      stroke="#007bff"
      stroke-width="5"
      fill="#f0f8ff"
    />
    <text
      x="75"
      y="90"
      font-size="24"
      text-anchor="middle"
      fill="#007bff"
      font-family="Arial, sans-serif"
    >
      RW
    </text>
  </svg>

  <h1>Bienvenue sur l'application de gestion des factures</h1>
  <p style="color: red">
    Utilisez le menu ci-dessus pour accéder aux différentes sections de
    facturation.
  </p>
</div>
