<h1 align="center">💲🚒 💵</h1>
<h1 align="center" style="text-decoration: underline">
  Facture Assurance Incendie
</h1>
<div class="image-container">
  <img
    src="https://companieslogo.com/img/orig/BALN.SW_BIG.D-377ee7f2.png?t=1684308289"
    alt="Logo-Baloise"
  />
</div>
<div class="info-window">
  <h2>Habitation</h2>
  <p><strong>Adresse:</strong> OVIDE DIEU 92, boite 0021 92</p>
  <p><strong>Prime annuelle:</strong> 105,18 €</p>
  <p><strong>Fractionnement:</strong> Trimestriel</p>
  <p><strong>Echéance:</strong> 18/03</p>
  <p><strong>Numéro de contrat:</strong> 3A64453</p>
</div>
<div class="container" align="center" style="margin-block-start: 20px">
  <a href="https://my.yago.be/fr" target="_blank">
    <button class="btn-open-link">Ouvrir Yago</button>
  </a>
</div>
<br />
<div align="center">
  <iframe
    src="https://my.yago.be/fr"
    width="30%"
    height="800px"
    frameborder="0"
    style="border: 1px solid #ccc; border-radius: 8px"
  >
    Votre navigateur ne supporte pas les iframes.
  </iframe>
</div>
<br />
<h3 align="center" style="color: green">Toutes vos factures sont en ordre !</h3>
<p align="center">
  Baloise Insurance Posthofbrug 16 2600 Antwerpen - +32 3 870 95 70
</p>
